<%= form_with(model: guardian) do |form| %>
  <% if guardian.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

      <ul>
        <% guardian.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-lg-2">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group col-lg-2">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group my-4">
    <h3>Children of this Guardian</h3>
    <%= form.collection_check_boxes(:child_ids, Child.all, :id, :name) %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success my-2" %>
  </div>

  <div>
    <%= link_to "All Guardians", guardians_path %>
  </div>
<% end %>