<div class="body-content">
  <h1>Guardian Login</h1>

  <%= form_with url: "/guardians/login", method: :get do |form| %>
    <div class="form-group col-lg-2">
      <%= form.label :first_name, "Your First Name" %>
      <%= form.text_field :first_name, class: "form-control" %>
      <%= form.label :last_name, "Your Last Name" %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
    <%= form.submit "Show Children", class: "btn btn-success my-2"%>
  <% end %>

  <% if params[:first_name] %>
    <% @guardian = Guardian.find_by!(first_name: params[:first_name], last_name: params[:last_name]) %>
    <% controller.redirect_to @guardian %>
  <% end %>
</div>