<!DOCTYPE html>
<html>
  <head>
    <title>Daycare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Children</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Guardians
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/guardians">All Guardians</a></li>
            <li><a class="dropdown-item" href="/guardians/new">New Guardian</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/guardians/login">Guardian Login</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/events">All Events</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>

  <% flash.each do |type, msg| %>
    <div class="alert alert-success" style="margin-bottom: 0px;">
      <%= msg %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
